\.vs
\.vscode
\bin
\obj

# Android
Resource.Designer.cs

# # Compressed
# *.bak
# *.zip
# *.rar
# *.7z

# # Old
# \packages
# \[B|b]ack[U|u]p
# *.csproj.user
# *.lock.json
# *.nuget.cache
# *.nuget.props
# *.nuget.targets
